.school-list{
    background-color: white;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px 0;
}

.school-list .headers{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(212, 210, 210);
}