.metric .stats{
    text-align: start;
}

.metric li{
    padding: 5px 0;
    width: 100%;
}

.revenues-content{
    font-weight: bold;
}

.revenues-content .Analytics{
    color: purple;
}

.revenues-content .Timetable{
    color: blue;
}

.revenues-content .Finance{
    color: green;
}