.school{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px 5px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(212, 210, 210);
}

.school:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.school button{
    padding: 7px 13px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.school button:hover{
    background-color: green;
    cursor: pointer;
}

.school .lightblue{
    background-color: lightblue;
    color: blue;
}

.school .lightgreen{
    background-color: rgb(189, 251, 189);
    color: green;
}

.school .lightred{
    background-color: rgb(249, 203, 203);
    color: red;
}

.school span{
    padding: 5px 10px;
    border-radius: 5px;
}