.school-detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   
}

.school-detail .details{
    height: fit-content;
    padding: 20px 5px;
    background-color: white;
    text-align: center;
    grid-column: span 3;
    display: grid;
    place-items: center;
}

.school-detail .details .grid-container{
    display: grid;
    gap: 20px;
    place-items: center;
}

.school-detail .details .class-details{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.school-detail .invoice-collections{
    display: grid;
    grid-column: span 3;
    gap: 20px;
    background-color: whitesmoke;
}

.school-detail .invoice-collections > *{
    background-color: white;
}

.lightgold{
    color: gold;
    background-color: rgb(250, 244, 213);
}

.lightblue{
    color: blue;
    background-color: lightblue;
}

.lightgreen{
    color: green;
    background-color: lightgreen;
}

.lightpurple{
    color: purple;
    background-color: rgb(246, 188, 246);
}

.school-detail .icon-container{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.school-detail .icon-container .bi{
    font-size: 25px;
}

.school-detail p{
    display: flex;
}

.school-detail p > * {
    margin: auto 5px;
}

.school-detail .details button{
    background-color: blue;
    padding: 7px 20px;
    color: white;
    border: none;
    border-radius: 5px;
}

.school-detail .invoice-headers{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px 5px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(227, 227, 227);
}

.school-detail .collection-headers{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px 5px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(227, 227, 227);
}

.school-detail .invoices, .school-detail .collections{
    max-height: 600px;
    overflow-y: scroll;
}

.school-detail .invoices::-webkit-scrollbar, .school-detail .collections::-webkit-scrollbar{
    width: 5px;
}

.school-detail .invoices::-webkit-scrollbar-thumb, .school-detail .collections::-webkit-scrollbar-thumb{
    background-color: gold;
}

@media screen  and (max-width: 1100px){
    .school-detail .details{
        grid-column: span 3;
        position: relative;
        top: 0;
    }

    .school-detail .invoice-collections{
        grid-column: span 3;
    }
}