.home{
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    gap: 20px;
}

.home .display{
    grid-column: span 2;
}

@media screen and (max-width: 800px) {
    .home{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}